@import './colors';

.section {
    display: flex;
    flex-direction: column;

    padding: 38px 30px !important;

    .strong {
        margin-bottom: 100px;
    }

    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        width: 100%;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 0 !important;
        margin: calc(70px - 38px) 30px 38px 30px;

        strong {
            font-size: 2.4rem;
            margin-bottom: 50px;
        }

        .projects-container {
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow-x: scroll;

            gap: 16px;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .section {
        margin: 50px 30px;
    }
}

@media (min-width: 769px) and (max-width: 970px) {
    .section {
        margin: 100px 140px;
    }
}